

.login{
  margin-top: 100px;
}

.login-wrapper{
  width: 600px;
  margin: 50px auto ;

}

.home-title{

  font-size: 40px;
  text-align: center;

}

.input-group{

  margin: 25px;

}

.auth-msg {

  text-align: center;
  cursor: pointer;
  color: #52d4f1;
}

.auth-response {

  font-size: 20px;
  margin-top: 20px;
}

